* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}

.cabecalho {
    background-color: #000;
    position: relative;
    height: 80px;
    box-sizing: content-box;
    border-bottom: 5px solid rgb(98, 168, 224);
}

.cabecalho a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
}

.menu ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

.menu a {
    padding: 15px;
}

.menu a:hover,
.menu a.selected {
    background-color: rgb(98, 168, 224);
    padding: 15px;
    color: black;
}

.logo {
    display: inline-block;
    padding: 15px;
    height: 80px;
}

.logo img {
    height: 100%;
}

.menu-toggle {
    float: right;
    color: #eeeeee;
    background-color: #555;
    border: 1px solid #777;
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;
}

.autenticacao {
    float: right;
    height: 80px;
    padding: 25px;
}

.botao {
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;
}

.destaque {
    background-color: #f50a31;
    color: #fff;
}

@media (min-width: 679px) {
    .menu-toggle {
        display: none;
    }
}

@media (max-width: 680px) {
    .menu {
        display: none;
    }
}

@media (max-width: 910px) {
    .autenticacao {
        display: none;
    }
}
